/* 源代码来源：https://getbootstrap.com/ */
:root,
[data-md-color-scheme="default"] {
  --bs-heading-color: inherit;
}

[data-md-color-scheme="slate"] {
  --bs-heading-color: #eeeeee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'almmdfdk';
  src: url('../fonts/almmdfdk_REGULAR.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* 
 * class 选择器 
 * class=""
 */
 
.md-grid {
  max-width: 1440px;
}

.md-typeset h5 {
  color: #212121;
  text-transform: none;
}

[data-md-color-scheme="slate"] .md-typeset h5 {
  color: #c1c4c9;
}

.md-typeset h4 {
  font-size: 1.125em;
}

.md-typeset hr {
  border-bottom-width: 0.1rem;
}

.home-page {
  width: 80%;
  margin: 0 auto;
}

.my-card-text {
  margin-bottom: 1.5rem;
  text-shadow: 1px 1px 2px white;
}

[data-md-color-scheme="slate"] .my-card-text {
  text-shadow: 1px 1px 2px #000000;
}

.home-content {
  width: 100%;
  margin: auto;
}

@media (min-width: 425px) {
  .home-content {
    width: 75%
  }
}

.sub-text {
  text-shadow: 1px 1px 2px white;
}

[data-md-color-scheme="slate"] .sub-text {
  text-shadow: 1px 1px 2px #000000;
}


/* 
 * ID 选择器 
 * id=""
 */
#tab-both-mid {
  text-align: center;
  vertical-align: middle;
}

#tab-bg-both-mid {
  background-color: #f3f3f3;
  text-align: center;
  vertical-align: middle;
}

[data-md-color-scheme="slate"] #tab-bg-both-mid {
  background-color: #2d2f38;
}

#grid-mid {
  align-items: center;
}

#txt-mid {
  text-align: center;
}

#home-title {
  font-size: calc(1.5rem + 1.25vw);
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  color: #212121;
  text-align: center;
  text-shadow: 1px 0px #eff6ff, 2px 1px #eff6ff, 3px 2px #eff6ff, 4px 3px #535353;
}

[data-md-color-scheme="slate"] #home-title {
  color: #f1f9ff;
  text-shadow: 1px 0px #212121, 2px 1px #212121, 3px 2px #212121, 4px 3px #bfbfbf;
}

@media (max-width: 550px) {
  #home-title {
    font-size: 1.375rem;
  }
  #poem_sentence {
    font-size: 1.125rem;
  }
}

@media (max-width: 425px) {
  #home-title {
    font-size: 1.15rem;
  }
  #poem_sentence {
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  #home-title {
    font-size: 0.9rem;
  }
  #poem_sentence {
    font-size: 0.75rem;
  }
}

@media (min-width: 1200px) {
  #home-title {
    font-size: 3rem;
  }
}

#poem_sentence {
  font-family: "almmdfdk" ,"Roboto", "Microsoft YaHei", sans-serif;
  color: #212121;
  text-align: center;
  margin-bottom: 0rem !important;
}

[data-md-color-scheme="slate"] #poem_sentence {
  color: #f1f7fa;
}

#bs-card-title {
  font-family: "almmdfdk" ,"Roboto", "Microsoft YaHei", sans-serif;
  margin-top: 0;
  margin-bottom: 0 !important;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.2;
  color: var(--bs-heading-color);
  text-shadow: 3px 3px 3px rgb(177 177 177 / 80%);
}

[data-md-color-scheme="slate"] #bs-card-title {
  text-shadow: 3px 3px 3px rgb(75 75 75 / 80%);
}

#button-text {
  color: #f3f3f3;
}

#button-text:hover {
  color: #f3f3f3;
}