/* 
class 选择器 
class=""
*/
.md-grid {
    max-width: 1440px;
}

.md-typeset h5 {
    color: #212121;
    text-transform: none;
}

[data-md-color-scheme="slate"] .md-typeset h5 {
    color: #c1c4c9;
}

.md-typeset h4 {
    font-size: 1.125em;
}

.md-typeset hr {
    border-bottom-width: 0.1rem;
}

/* 
ID 选择器 
id=""
*/
#tab-both-mid {
    text-align: center;
    vertical-align: middle;
}

#tab-bg-both-mid {
    background-color: #f3f3f3;
    text-align: center;
    vertical-align: middle;
}

[data-md-color-scheme="slate"] #tab-bg-both-mid {
    background-color: #2d2f38;
}

#grid-mid {
    align-items: center;
}

#txt-mid {
    text-align: center;
}