/* 
源代码来源：https://github.com/HobbitQia/notebook/blob/note1/docs/css/card.css 
源代码作者：HobbitQia

文件下载 card：
<div class="hq-card hq-file-block" markdown="1">
  <div class="file-icon"><img src="img/pdf.svg" style="height: 3em;"></div>
  <div class="hq-file-body">
    <div class="hq-file-title">文件标题</div>
    <div class="hq-file-meta">文件信息</div>
  </div>
  <a class="hq-down-button" target="_blank" href="file/pdf.pdf" markdown="1">:fontawesome-solid-download: 下载</a>
</div>
*/

.hq-card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #FEFEFE;
  background-clip: border-box;
  border: 0.5px solid #606060;
  border-radius: .25rem;
  margin-bottom: 1em;
}

[data-md-color-scheme="slate"] .hq-card {
  background-color: #181818;
  border: 0.5px solid #606060;
}

.hq-card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}

.hq-card-header {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.25rem;
  margin-bottom: 0;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 600;
}

.hq-card-body ul {
  margin-top: 0;
  margin-bottom: 0;
}

.md-typeset :is(.hq-card-body details) {
  margin-top: 0.25rem;
  margin-bottom: 0;
}

.hq-file-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.2em 1em;
  transition: background-color .3s cubic-bezier(.4,0,.2,1);
}

.hq-file-block:hover {
  background-color: #eeeeee;
}
[data-md-color-scheme="slate"] .hq-file-block:hover {
  background-color: #606060;
}

.hq-file-title {
  padding-left: 0rem;
  margin-bottom: 0;
  font-size: 1.1em;
  font-weight: 600;
}

.hq-file-meta {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
}

.hq-file-body {
  padding-left: 1em;
  margin-right: auto;
}

.hq-down-button {
  border: 0.05rem solid;
  border-radius: 0.1rem;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: 0.25em 0.5em;
  transition: color .3s,background-color .3s,border-color .3s !important;
}

@media (max-width: 414px) {
  .hq-file-title {
    font-size: 0.9em;
  }
  .hq-file-meta {
    font-size: 0.8em;
  }
  .hq-down-button {
    font-size: 0.9em;
  }
}

.hq-down-button:is(:focus,:hover) {
  background-color: var(--md-accent-fg-color);
  border-color: var(--md-accent-fg-color);
  color: var(--md-accent-bg-color) !important;
}