/* material 元素修改 */

/* 增加 admonition heart 图标 */
:root {
  --md-admonition-icon--heart: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m12 21.35-1.45-1.32C5.4 15.36 2 12.27 2 8.5 2 5.41 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.08C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.41 22 8.5c0 3.77-3.4 6.86-8.55 11.53z"/></svg>');
}
.md-typeset .admonition.heart,
.md-typeset details.heart {
  border-color: rgb(240, 50, 50);
}
.md-typeset .heart > .admonition-title,
.md-typeset .heart > summary {
  background-color: rgba(240, 50, 50, 0.1);
}
.md-typeset .heart > .admonition-title::before,
.md-typeset .heart > summary::before {
  background-color: rgb(240, 50, 50);
  -webkit-mask-image: var(--md-admonition-icon--heart);
          mask-image: var(--md-admonition-icon--heart);
}

/* 修改主内容部分的宽度 */
.md-grid {
  max-width: 1440px;
}

/* 修改四级标题 */
.md-typeset h4 {
  font-size: 0.9rem;
}

/* 修改五级标题 */
.md-typeset h5 {
  color: #212121;
  text-transform: none;
  font-size: 0.75rem;
}

[data-md-color-scheme="slate"] .md-typeset h5 {
  color: #c1c4c9;
}

/* 修改分割线 */
.md-typeset hr {
  border-bottom-width: 0.1rem;
}

/* 表格水平、垂直居中 */
#tab-both-mid {
  text-align: center;
  vertical-align: middle;
}

/* 表格强调部分 */
#tab-bg-both-mid {
  background-color: #f3f3f3;
  text-align: center;
  vertical-align: middle;
}

[data-md-color-scheme="slate"] #tab-bg-both-mid {
  background-color: #2d2f38;
}

/* grid 元素居中 */
#grid-mid {
  align-items: center;
}

/* 文字居中 */
#txt-mid {
  text-align: center;
}